* {
    box-sizing: border-box;
    margin: 0;
}

li {
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.mes-form {
    display: flex;
    width: 100%;
    height: 100%;
}

.mes-form .mes-left {
    width: 25%;
    border-top: 1px solid #ccc;
    border-right: 1px solid#ccc;
}

.mes-left .mes-left-action {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.mes-left-action .action .icon {
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 100%;
    font-size: 18px;
    color: #000;
    margin-left: 8px;
}

.mes-left-action .action .icon:hover {
    background-color: #ccc;
}

.mes-form .left-search {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.left-search .search-icon {
    padding: 8px;
    background-color: #f2f2f2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #999999;
    min-width: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-right: none;
}

.left-search .search-input {
    background-color: #f2f2f2;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    font-size: 16px;
}

.list-chat-user {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin-top: 15px;
}

.left-group-chat {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    position: relative;
    justify-content: space-between;
}

.left-group-chat:hover {
    background-color: #e6e6e6;
    border-radius: 7px;
}

.left-group-chat:hover .icon-hover {
    visibility: visible;
}

.icon-hover:hover {
    background-color: #a6a6a6;
}

.left-group-chat .chat-image {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: relative;
}

.left-group-chat .user-content {
    margin-left: 8px;
}

.left-group-chat .user-content .chat-user p {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.left-group-chat .user-content .chat-content p {
    font-size: 13px;
    font-weight: 300;
    color: #a6a6a6;
    margin-top: 7px;
    width: 210px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.icon-hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
    font-size: 18px;
    color: #000;
    margin-left: 8px;
    position: absolute;
    right: 45px;
    top: 19px;
    visibility: hidden;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: rgb(20, 147, 221);
    border-radius: 50%;
}

.dot-active {
    height: 17px;
    width: 17px;
    background-color: #31A24C;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: 10px;
    left: 61px;
}

.mes-body {
    width: 50%;
}

.mes-body .mes-body-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    box-shadow: #999999;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.mes-body-header .user-left {
    display: flex;
    padding: 7px;
}

.mes-body-header .user-left:hover {
    background-color: #f1f0f0;
    border-radius: 5px;
}

.user-left .name-show {
    margin-left: 8px;
}

.user-left .name-show .user p {
    font-size: 18px;
    font-weight: 600;
}

.user-left .name-show .user-status p {
    font-size: 13px;
    font-family: inherit;
    color: #65676B;
}

.user-action .user-icon {
    color: #1877F2;
    font-size: 20px;
    padding: 7px;
}

.user-action .user-icon:hover {
    background-color: #dfdfdf;
    border-radius: 50px;
}

.mes-body .mes-body-header .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
}

.dot-user-active {
    height: 14px;
    width: 14px;
    background-color: #31A24C;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 43px;
    left: 434px;
}

.live-chat {
    height: 100%;
}

.img-message {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.conversation {
    height: calc(100% - 50px);
    overflow-y: scroll;
    padding: 20px;
    padding-bottom: 0;
}

.messages {
    margin-bottom: 10px;
}

.messages--received .message {
    float: left;
    background-color: #ddd;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.messages--received .message:first-child {
    border-top-left-radius: 15px;
}

.messages--received .message:last-child {
    border-bottom-left-radius: 15px;
}

.messages--sent .message {
    float: right;
    background-color: #1998e6;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.messages--sent .message:first-child {
    border-top-right-radius: 15px;
}

.messages--sent .message:last-child {
    border-bottom-right-radius: 15px;
}

.message {
    display: inline-block;
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 14px;
    border-radius: 15px;
    line-height: 1.4;
}

.time-chat {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-bar {
    display: flex;
}

.icon-bar {
    color: #1998e6;
    font-size: 18px;
    justify-content: center;
    padding: 10px 3px;
}

.text-bar__field input {
    border-radius: 50px;
    padding: 5px;
    background-color: #ccc;
    border: none;
}

.text-bar__field input:focus-visible {
    border: none;
}

.mes-right {
    width: 25%;
}